.aboutPage {
    text-align: left;
    max-width: 900px;
    padding: 0 5vw;
    margin: 10vh 3vh;
}

.expert,
.textCard {
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

.expert {
    font-weight: 200;
    font-size: clamp(28px, 5vw, 50px);
    line-height: 1.2;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

.y-wrapper {
    position: relative;
    display: inline-block;
}

.svg-icon svg {
    width: 1.5em;
    height: auto;
    display: block;
}

.svg-icon {
    position: absolute;
    top: -1em; /* Controls vertical position (upward) */
    left: -3vw; /* Shifts it left to align with top-left of "Y" */
    width: 1.5em; /* Scales with font size */
    height: auto;
    display: block;
    pointer-events: none;
}

.textCard {
    font-weight: 900;
    font-size: clamp(36px, 7vw, 70px);
    color: #1E82A6;
}

.content {
    font-weight: 300;
    font-size: clamp(18px, 3vw, 30px);
    line-height: 1.5;
    text-align: justify;
    margin-top: 5vh;
}

.buttonContainer {
    text-align: right;
}

.button {
    margin-top: 2rem;
    width: clamp(180px, 40vw, 250px);
    height: 60px;
    border-radius: 100px;
    font-weight: 700;
    font-size: clamp(14px, 2.5vw, 20px);
    color: #fff;
    background-color: #1E82A6;
    border: none;
    cursor: pointer;
    margin-right: 3vw;
    margin-bottom: 2vh;
}

@media (max-width: 520px) {
    .svg-icon {
        left: -5vw;
    }
}
@media (max-width: 400px) {
    .svg-icon {
        display: none;
    }
}